node-red.json
[
  {
    "id": "06a27220a1d536a0",
    "type": "tab",
    "label": "Proyecto 7",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "287483ef4ab28c64",
    "type": "mysql2",
    "z": "06a27220a1d536a0",
    "name": "",
    "server": "0d47e059107c05dd",
    "bind": "",
    "topic": "",
    "x": 700,
    "y": 380,
    "wires": [["966f35e5631c6a23"]]
  },
  {
    "id": "f04d2b36b42e1190",
    "type": "function",
    "z": "06a27220a1d536a0",
    "name": "function1",
    "func": "var sql = \"INSERT INTO devices(mac, id_m5, channel, potencia) values('\" + msg.mac + \"',\" + msg.m5id + \",\" + msg.channel + \",\" + msg.db + \") ON DUPLICATE KEY UPDATE mac = '\" + msg.mac+\"';\";\nmsg.topic=sql;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 380,
    "wires": [["287483ef4ab28c64"]]
  },
  {
    "id": "966f35e5631c6a23",
    "type": "debug",
    "z": "06a27220a1d536a0",
    "name": "debug 54",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 380,
    "wires": []
  },
  {
    "id": "3a1be86ccf1862bb",
    "type": "inject",
    "z": "06a27220a1d536a0",
    "name": "consulta contaje agrupado por m5id",
    "props": [{ "p": "topic", "vt": "str" }],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "SELECT id_m5, COUNT(*) FROM devices WHERE router = 0 GROUP BY id_m5;",
    "x": 290,
    "y": 640,
    "wires": [["cef267d931d39d1f"]]
  },
  {
    "id": "5a759354d6766131",
    "type": "mqtt in",
    "z": "06a27220a1d536a0",
    "name": "",
    "topic": "aps2023/Proyecto7/MAC_list/#",
    "qos": "0",
    "datatype": "utf8",
    "broker": "d27d21fb38be7068",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 180,
    "wires": [["c7475ff9f847a0d3", "f0aec09637472066"]]
  },
  {
    "id": "f0aec09637472066",
    "type": "debug",
    "z": "06a27220a1d536a0",
    "name": "debug 56",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 80,
    "wires": []
  },
  {
    "id": "7ca35815411aa2ee",
    "type": "function",
    "z": "06a27220a1d536a0",
    "name": "Divider",
    "func": "function extract_id(mqtt_topic) {\n    var topicParts = mqtt_topic.split(\"/\");\n    return parseInt(topicParts[topicParts.length - 1]);\n}\nmsg.m5id = extract_id(msg.topic)\nvar macs = msg.payload;\n\ndelete msg.qos;\ndelete msg._msgid;\ndelete msg.topic;\ndelete msg.retain;\ndelete msg.payload;\n\n\nfor (let i = 0; i < macs.length; i++) {\n    const item = macs[i];\n    msg.mac = item.mac.replace(/:/g, \"-\");\n    msg.db = item.rssi;\n    msg.channel = item.channel;\n    msg.mac_header = msg.mac.substring(0, 8);\n    node.send(msg)\n}\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 200,
    "wires": [["1704cae1e1e44de7", "2f81fb46fbc6540c"]]
  },
  {
    "id": "1704cae1e1e44de7",
    "type": "debug",
    "z": "06a27220a1d536a0",
    "name": "debug 57",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 80,
    "wires": []
  },
  {
    "id": "2f81fb46fbc6540c",
    "type": "delay",
    "z": "06a27220a1d536a0",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "5",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 470,
    "y": 280,
    "wires": [["f04d2b36b42e1190"]]
  },
  {
    "id": "9ccb51bea6f8fc4f",
    "type": "comment",
    "z": "06a27220a1d536a0",
    "name": "Explicación limitador",
    "info": "Es necesario limitar el número que entran porque sino falla phpMyAdmin.",
    "x": 650,
    "y": 280,
    "wires": []
  },
  {
    "id": "c7475ff9f847a0d3",
    "type": "function",
    "z": "06a27220a1d536a0",
    "name": "MAC Eliminator",
    "func": "function eliminateDuplicateMacs(data) {\n    // Create an object to store the unique MAC addresses with their corresponding RSSI values\n    const uniqueMacs = {};\n    // Iterate over the data array\n    for (let i = 0; i < data.length; i++) {\n        const { mac, channel, rssi } = data[i];\n        // Check if the MAC address already exists in uniqueMacs\n        if (uniqueMacs.hasOwnProperty(mac)) {\n            // If the current RSSI value is higher than the stored value, update it\n            if (rssi < uniqueMacs[mac].rssi) { // Compare using less than operator\n                uniqueMacs[mac].rssi = rssi;\n                uniqueMacs[mac].channel = channel;\n            }\n        } else {\n            // If the MAC address doesn't exist, add it to uniqueMacs\n            uniqueMacs[mac] = { mac, channel, rssi };\n        }\n    }\n    // Convert the uniqueMacs object back to an array\n    const uniqueMacsArray = Object.values(uniqueMacs);\n    return uniqueMacsArray;\n}\n\nvar macs = JSON.parse(msg.payload);\nmsg.payload = eliminateDuplicateMacs(macs);\nreturn msg;\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 180,
    "wires": [["7ca35815411aa2ee", "8a6941afd4df1dcc"]]
  },
  {
    "id": "8a6941afd4df1dcc",
    "type": "debug",
    "z": "06a27220a1d536a0",
    "name": "debug 58",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 80,
    "wires": []
  },
  {
    "id": "cc7753e739d2e6dd",
    "type": "catch",
    "z": "06a27220a1d536a0",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 340,
    "y": 500,
    "wires": [["0f5fe2223666388f"]]
  },
  {
    "id": "0f5fe2223666388f",
    "type": "debug",
    "z": "06a27220a1d536a0",
    "name": "debug 59",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 500,
    "wires": []
  },
  {
    "id": "f6990720508c4bb1",
    "type": "ha-sensor",
    "z": "06a27220a1d536a0",
    "name": "",
    "entityConfig": "1606e424e33ab528",
    "version": 0,
    "state": "payload",
    "stateType": "msg",
    "attributes": [],
    "inputOverride": "allow",
    "outputProperties": [],
    "x": 570,
    "y": 580,
    "wires": [[]]
  },
  {
    "id": "cef267d931d39d1f",
    "type": "mysql2",
    "z": "06a27220a1d536a0",
    "name": "",
    "server": "0d47e059107c05dd",
    "bind": "",
    "topic": "",
    "x": 560,
    "y": 640,
    "wires": [["1526fd1795385a92"]]
  },
  {
    "id": "1526fd1795385a92",
    "type": "debug",
    "z": "06a27220a1d536a0",
    "name": "debug 63",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 640,
    "wires": []
  },
  {
    "id": "0d47e059107c05dd",
    "type": "mysql2-server",
    "host": "core-mariadb",
    "port": "3306",
    "username": "aps2023",
    "password": "aps2023",
    "db": "grupo_q",
    "servername": "grupo_q"
  },
  {
    "id": "d27d21fb38be7068",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "192.168.5.71",
    "port": "2883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "1606e424e33ab528",
    "type": "ha-entity-config",
    "server": "afa5f6799a5d9bd0",
    "deviceConfig": "dcec951d0551ee41",
    "name": "AccX",
    "version": "6",
    "entityType": "sensor",
    "haConfig": [
      { "property": "name", "value": "AccX" },
      { "property": "icon", "value": "" },
      { "property": "entity_category", "value": "" },
      { "property": "entity_picture", "value": "" },
      { "property": "device_class", "value": "" },
      { "property": "unit_of_measurement", "value": "ms2" },
      { "property": "state_class", "value": "measurement" }
    ],
    "resend": false,
    "debugEnabled": false
  },
  {
    "id": "afa5f6799a5d9bd0",
    "type": "server",
    "name": "Home Assistant",
    "version": 5,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": "30",
    "areaSelector": "friendlyName",
    "deviceSelector": "friendlyName",
    "entitySelector": "friendlyName",
    "statusSeparator": ": ",
    "statusYear": "hidden",
    "statusMonth": "short",
    "statusDay": "numeric",
    "statusHourCycle": "default",
    "statusTimeFormat": "h:m",
    "enableGlobalContextStore": false
  },
  {
    "id": "dcec951d0551ee41",
    "type": "ha-device-config",
    "name": "Aceleracion",
    "hwVersion": "",
    "manufacturer": "Node-RED",
    "model": "",
    "swVersion": ""
  }
]
